/* Define styling for player_management.html*

/* Style the playerNames div */
#playerNames {
    margin-left: 15px;
    margin-bottom: 15px;
}
#playerNames form h4 {
    color: red;
}

/* Format the player display table */
#existstag {
    margin-left: 30px;
}
#displayTable table {
    margin-left: 15px;
    width: 70%;
}

/* Style for playerAttributes div */
#playerAttributes {
    margin-top: 25px;
    margin-left: 15px;
}
#playerAttributes h4 {
    color: red;
    font: bold;
}
#datetimepicker1 {
    width: 10%;
    margin-left: 15px;
}
.pos-placeholder::-webkit-input-placeholder {
    font-size: 12px;
}


