nfl_site/db.sqlite3
nfl_site/nfl_site/__pycache__/
.DS_Store
Sprint-1/.DS_Store

nfl_site/response/__pycache__/
nfl_site/response/migrations/__pycache__/
nfl_site/combine/__pycache__/
nfl_site/combine/migrations/__pycache__/