nfl_site/db.sqlite3
nfl_site/nfl_site/__pycache__/
.DS_Store
Sprint-1/.DS_Store
.idea/
nfl_site/static/archive/
nfl_site/response/__pycache__/
nfl_site/response/migrations/__pycache__/
nfl_site/combine/__pycache__/
nfl_site/combine/migrations/__pycache__/

nfl_site/rushers/__pycache__/
nfl_site/rushers/migrations/__pycache__/
nfl_site/passing/__pycache__/
nfl_site/passing/migrations/__pycache__/
