nfl_site/db.sqlite3
nfl_site/nfl_site/__pycache__/
.DS_Store
Sprint-1/.DS_Store
nfl_site/response/__pycache__/
nfl_site/response/migrations/__pycache__/
nfl_site/__pycache__/*
nfl_site/receiving/migrations/__pycache__/*
response/__pycache__/*
nfl_site/rushers/__pycache__/*
nfl_site/rushers/migrations/__pycache__/*
combine/__pycache__/
combine/__pycache__/*
combine/migrations/__pycache__/
combine/migrations/__pycache__/*
rushers/__pycache__/*
rushers/__pycache__/
nfl_site/combine/__pycache__/*
nfl_site/combine/__pycache__/
