<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Receiver</title>
    <!--Add boostrap styling-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
</head>
<body>

    <div class="container">
        <h1>Add Receiver</h1>
    </div>

    <!-- the `/` just points back to the home directory -->
    <button onclick="window.location.href='/'">Back Home!</button>
    <button onclick="window.location.href='/receivingpage/'">Receiving Statistics</button>
    <button onclick="window.location.href='/receivingpage/topreceivingpage/'">Top Receivers</button>
    <button onclick="window.location.href='/receivingpage/addreceiverpage/'">Add Receiver</button>

   <div class="container text-center" style="margin: auto; max-width: 900px; padding-top: 30px;">
        <div class="row" style="width: 100%; display: flex;">

            <div style="width: 50%; float: left; flex: 1;">

                <h3>Add Player</h3>

                <form action="" method="Post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="Submit" class="btn btn-primary" name="Add" value="Add"/>
                </form>

            </div>

            <div style="width: 50%; float: right; flex: 1;">

                <h3>Delete Player</h3>

                <form method="Post">
                    {% csrf_token %}
                    {{ del_player_form.as_p }}
                    <input type="Submit" class="btn btn-primary" name="Delete" value="Delete"/>
                </form>

            </div>

        </div>
    </div>

    {% if add_button == "Add" %}

        <div class="container" style="padding-top: 25px">
            <!--shows add player message -->
            <h3>{{ message }}</h3>
        </div>

    {% endif %}

    {% if del_button == "Delete" %}

        <div class="container" style="padding-top: 25px">
            <!--shows delete player message -->
            <h3>{{ message }}</h3>
        </div>

    {% endif %}

    {% if player_dict_loaded == "true" %}
        <div class="container" style="padding-top: 25px">

            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        {% for item in column_names %}
                            <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in player_dict.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value.0 }}</td>
                            <td> {{ value.1 }}</td>
                            <td> {{ value.2 }}</td>
                            <td> {{ value.3 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

</body>
</html>