<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Receiver</title>
    <!--Add boostrap styling-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
</head>
<body>

    <div class="container">
        <h1>Add Receiver</h1>
    </div>

    <!-- the `/` just points back to the home directory -->
    <button onclick="window.location.href='/'">Back Home!</button>
    <button onclick="window.location.href='/receivingpage/'">Receiving Statistics</button>
    <button onclick="window.location.href='/receivingpage/topreceivingpage/'">Top Receivers</button>
    <button onclick="window.location.href='/receivingpage/addreceiverpage/'">Add Receiver</button>

    <div class="container text-center">
        <div class="container">
            <h3>Enter Player Information</h3>
        </div>
        <form action="" method="Post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="Submit" class="btn btn-primary" name="submit" value="Submit"/>
        </form>
    </div>

    {% if submit_button == "Submit" %}

        <div class="container" style="padding-top: 25px">
            <!--shows add player message -->
            <h3>{{ message }}</h3>
        </div>

    {% endif %}

</body>
</html>