<html>
<body>
    <head>
        <meta charset="utf-8">
        <title>Receiving Statistics</title>
            <!--Add boostrap styling-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>


    <div class="container">
        <h1>Receiving Statistics</h1>
    </div>

    <!-- the `/` just points back to the home directory -->
    <button onclick="window.location.href='/'">Back Home!</button>

    <div class="container text-center">
        <div class="container pt-25">
            <h3>Enter Player Information</h3>
        </div>
        <form action="" method="Post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="Submit" class="btn btn-primary" name="submit" value="Submit"/>
        </form>
    </div>

    {% if submit_button == "Submit" %}
        <h3>Name: {{ first_name }} {{ last_name }}</h3>
        {% for key, value in player_dict.items %}
            <!-- <li>ID: {{ key }} Total receiving yards: {{ value }}</li> -->
            <h4>{{ first_name }} {{ last_name }} ({{ key }}) </h4>
            <p>Total receiving yards: {{ value }}</p>
        {% endfor %}
    {% endif %}

</body>
</html>
