<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Combine Statistics Page</title>
        <!--Add boostrap styling-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <h1>NFL Combine Statistics</h1>
    <button onclick="window.location.href='/'">Back Home!</button>
    <div class="container">
        <form method="POST">
            {{form.as_p}}
            {% csrf_token %} <!--Enable users to enter info on the form-->
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    <div class="container">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    {% for key, value in df_dict.items %}
                        <th width="1%">{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for rec in df_rec %}
                <tr>
                    {% for i2, k2 in rec.items %}
                        <td>{{ k2 }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</html>
