<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h1>This is the NFL SITE</h1>
<img src="/static/images/nfl.jpg" width = "300" height="300">	
<h2>Choose What You Want To View: </h2>
<!-- One way to press a button and give it what to do onClick -->
<form action="rusherspage/" method="get">
    <button style="margin:5px;" name="rushers" type="submit" value="Rushers">Rushers</button>
</form>

<!-- Another way to create buttons and have them do something on click with extra attrib. -->
<form action="receivingpage/" method="get">
    <button style="margin:5px;" name="receiving" type="submit" value="receiving">Receiving</button>
</form>

<form action="passerpage/" method="get">
    <button style="margin:5px;" name="passing" type="submit" value="Passers">Passers</button>
</form>
<!--Note that the home.html utilizes the combinepage/ URL i've defined in my combine app-->
<form action="combinepage/" method="get">
    <button style="margin:5px;" name="combine" type="submit" value="Combine">Combine</button>
</form>

</body>
</html>