<html>
<head>
    <meta charset="utf-8">
    <title>Passing Statistics Page</title>
        <!--Add boostrap styling-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="background-color:rgba(2, 27, 22, 0.808);margin-left:2.5em">
    <h1 style="color:rgb(255, 255, 255)">NFL Passing Statistics</h1>
    <div class="container" style="width: 100%; display: flex;">
        <div class="container">
            <button class="btn btn-primary" style="background-color: orange; color: black;" onclick="window.location.href='/'">Back Home!</button>
        </div>
        <div class="container">
            <form method="POST" style="float: right;">
                {% csrf_token %}
                <input type="submit" style="background-color: rgb(214, 15, 15);" class="btn btn-primary" value="Refresh Data" name="Refresh Data">
            </form>
        </div>
    </div>
    <hr><br>
    
    <div class="row" style="width: 100%; display: flex; padding: 30px;">
        <div class="search" style="color:rgb(0, 0, 0);background-color:rgb(255, 255, 255); width: 50%; float: left; flex: 1; padding: 15px; border-style: solid; border-color: teal;">
            <form method="POST">
                <h3>Search</h3>
                {{form.as_p}}
                {% csrf_token %} <!--Enable users to enter info on the form-->
                <input type="submit" class="btn btn-primary" value="Search" name="Search">
                <input type="submit" class="btn btn-primary" value="Add" name="Add">
                <input type="submit" class="btn btn-primary" value="Delete" name="Delete">
                <input type="submit" class="btn btn-primary" value="Delete Player" name="Delete Player">
            </form>
        </div>
        <div class="analytics" style="color:rgb(0, 0, 0);background-color:rgb(255, 255, 255); width: 50%; float:right; flex: 1; padding: 15px; border-style: solid; border-color: teal;">
            <form  method="POST">
                <h3>Analytics (Top Players by Total Passing Yards)</h3>
                {{analytics.as_p}}
                {% csrf_token %} <!--Enable users to enter info on the form-->
                <input type="submit" class="btn btn-primary" value="Show Table" name="Show Table">
                <input type="submit" class="btn btn-primary" value="Show Graph" name="Show Graph">
                <input type="submit" class="btn btn-primary" value="Show Scatter Plot" name="Show Scatter Plot">
            </form>
        </div>
    </div><hr>
    
    {% if not results.empty %}
    <div style="color:rgb(0, 0, 0); padding: 30px;"><br>
        <table id="passing_table" class="table table-bordered" width="100%" cellspacing="0">
            {% if time %}
                <h4 style="color: white">Analytics Calculated in: <strong style="color: yellow;">{{ time }}</strong> seconds</h4>
                {% if previous_time %}
                    <h4 style="color: white">Previous Time: <strong style="color: yellow;">{{ previous_time }}</strong> seconds</h4>
                {% endif %}
                <br>
            {% endif %}
            <thead>
                <tr>
                {% for item in columns %}
                    <th width="1%" style="color:rgba(0, 223, 178, 0.973)"><i>{{ item }}</th></i>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for key, value in results.items %}
                    <td style="color:rgb(255, 255, 255)">
                        {% for i in value %}
                            {{ i }}<br>
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
        <h2 style="color:rgb(255, 255, 255)">No Entries For Selected Player in Pass.csv</h2>
    {% endif %}
  
    <h2 style="color:rgb(255, 255, 255)">{{empty}}</h2>

    <br><div class="container" style="width: 85%; padding: 30px;">
        {{ graph_div|safe }}
    </div>
</body>
</html>