{% load static %}
<html>

<head>
   <meta charset="utf-8">
   <title>Rushing Statistics Page</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static "css/rushers/rushers.css" %}" />
</head>

<body style="background-color:azure; margin-left:2.5em; margin-right: 2.5em; ">
   <h1>Rushing Statistics</h1>
   <button class="btn btn-primary" style="background-color: orange; color: black;" onclick="window.location.href='/' ">Back Home!</button>
   <hr style="height:2px;border-width:0;color:#1408A3;background-color: #1408A3">
   <br>

   <div id = "wrapper" class="row" style=" background-color: #1408A3; width: 100%; display: flex; padding: 30px;">

      <div id="PlayerNames" class="names" style="color:rgb(0, 0, 0);background-color:rgb(255, 255, 255); width: 50%; float: left; flex: 1; padding-left: 15px; padding-top: 1px;">
         <form method="Post">
            <h3>Search Player</h3>
            <p>
               {% csrf_token %}
               {{ form.as_p }}
            </p>

            <input type="Submit" class="btn btn-primary" name="Search" value="Search" />
            {% if deletable == True%}
            <input type="submit" class="btn btn-danger btn-sm" name="Delete Player" value="Delete Player"/>            
            {%endif%}
         </form>
      </div>


      <div id="TeamPicker" class="teams" style="color:rgb(0, 0, 0);background-color:rgb(255, 255, 255);width: 50%; float: right; flex: 1; padding-left: 15px; padding-top: 1px;" >
         <form method="Post">
            <h3>Search Top Rushers</h3>
            <p>
               {% csrf_token %}
               {{ team_form.as_p }}
            </p>
            <input type="submit" class="btn btn-primary" name="Team Picker" value="Team Picker">
            <input type="submit" class="btn btn-primary" value="Show Graph" name="Show Graph">
         </form>
      </div>

   </div>

   <style>
      img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         border: 5px solid #874444;
      }
      table, th, td {
         border-style: double;
         border-color:dimgray;
      }
      th, td {
        padding: 5px;
      }
      th {
        text-align: left;
      }
   </style>

   {% if submit_button == "Search" or team_submit == "Team Picker" or show_graph_button == "Show Graph"%}

   {% if exists == 0 %}
   <h2>Error: {{first_name}} {{last_name}}</h2>
   {% elif exists == 1 and team_name == "all time"%}
   <h2>Displaying the Top 20 Rushers of {{team_name }}!</h2>
   <img src="{{team_img}}" alt="team_image" width="200" height="200">
   {% elif exists == 1 and team_name != "all time"%}
   <h2>Displaying the Top 20 Rushers of the {{team_name }}!</h2>
   <img src="{{team_img}}" alt="team_image" width="200" height="200">
   {% else %}
   <img src="{{player_img}}" alt="player_image">
   {% endif %}



   <div id = "Table">
   <table style="width:100%">
      <tr>
         {% for item in columns %}
         <th style="color:darkslategray"><i>{{ item }}</th>
         </i>
         {% endfor %}
      </tr>
      <tr>
         {% for key, value in output.items %}
         <td>
            {% for i in value %}
            {{ i }}<br>
            {% endfor %}
         </td>
         {% endfor %}
      </tr>
   </table>
   </div>

   <div>
      <br>
      {% if exists == 1%}
      <h3>Total AVG Yards: {{total_avg_yards}}</h3>
      <h3>Time: {{t_time}}</h3>
      {%endif%}
   </div>
   {% endif %} 


   
   {% if show_graph_button == "Show Graph"%}
   <br><div class="container" style="width: 85%; padding: 30px;">
      {{ graph_div|safe }}
   </div>
   {% endif %}
   
</body>

</html>