{% load static %}
<html>

<head>
   <meta charset="utf-8">
   <title>Rushing Statistics Page</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static "css/rushers/rushers.css" %}" />
</head>

<body style="background-color:darksalmon; margin-left:2.5em; margin-right: 2.5em; ">
   <h1>Rushing Statistics</h1>
   <button onclick="window.location.href='/' ">Back Home!</button>
   <hr>
   <br>

   <div id="wrapper">

      <div id="PlayerNames">
         <form action="" method="Post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="Submit" class="btn btn-primary" name="submit" value="Submit" />
         </form>
      </div>


      <div id="TeamPicker">
         <form method="Post">
            <p>
               <label>Team Name:</label>
               {% csrf_token %}
               {{ team_form.team_name }}
            </p>
            <input type="submit" class="btn btn-info btn-sm" name="Team Picker" value="Team Picker">
         </form>
      </div>

   </div>

   <style>
      img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         border: 5px solid #874444;
      }
   </style>

   {% if submit_button == "Submit" %}

   {% if exists == 0 %}
   <h2>Error: {{first_name}} {{last_name}}</h2>
   {% else %}
   <img src="{{player_img}}" alt="image">
   {% endif %}


   <table class="table table-condensed table-bordered">
      <tr>
         {% for item in columns %}
         <th width="1%" style="color:darkslategray"><i>{{ item }}</th>
         </i>
         {% endfor %}
      </tr>
      <tr>
         {% for key, value in output.items %}
         <td style="color:dodgerblue(255, 255, 255)">
            {% for i in value %}
            {{ i }}<br>
            {% endfor %}
         </td>
         {% endfor %}
      </tr>
   </table>
   {% endif %}
</body>

</html>